# Best epoch selection method
### Step 1: Use validation set to measure the performance for each epoch
### Step 2: Use AU_PRC to select 3 top epochs
### Step 3: Select the best epoch using lowest loss

# LSTM

### Best Train 1 model -> Epoch 39
### Best Train 2 model -> Epoch 29
### Best Train 3 model -> Epoch 33
### Best Train 4 model -> Epoch 50
### Best Train 5 model -> Epoch 55

In [ ]:
import pandas as pd
LSTM_train1 = pd.read_csv("/content/drive/Shareddrives/Trustworthiness/MIMIC III/training_log/Train_Original_LSTM_Run1.csv", sep=';')
LSTM_train1

,epoch,loss,train_MCC,train_acc,train_auprc,train_auroc,train_bal_acc,train_f0_c0,train_f1_c1,train_f1_macro,...,val_f1_c1,val_f1_macro,val_f1_micro,val_f1_weighted,val_loss,val_minpse,val_prec0,val_prec1,val_rec0,val_rec1
0,0,0.349043,0.389959,0.823786,0.474110,0.822166,0.729365,0.893936,0.479582,0.686759,...,0.478723,0.684057,0.817505,0.833819,0.308618,0.474771,0.934387,0.390173,0.848528,0.619266
1,1,0.323653,0.408637,0.835434,0.492581,0.832073,0.734615,0.901693,0.495194,0.698444,...,0.499079,0.698774,0.831161,0.844424,0.304170,0.481651,0.935848,0.416923,0.863963,0.621560
2,2,0.316909,0.415975,0.837750,0.515420,0.839787,0.738501,0.903116,0.501256,0.702186,...,0.502804,0.701904,0.834885,0.847120,0.301092,0.490868,0.935471,0.424290,0.868988,0.616973
3,3,0.311361,0.421092,0.811661,0.535837,0.847034,0.763530,0.883945,0.500632,0.692289,...,0.474922,0.672639,0.792055,0.816846,0.299862,0.514806,0.944165,0.360714,0.807251,0.694954
4,4,0.310122,0.437234,0.841973,0.541702,0.850225,0.752192,0.905468,0.518672,0.712070,...,0.496804,0.696897,0.828988,0.842837,0.295879,0.509009,0.936013,0.412747,0.861091,0.623853
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,0.255642,0.553620,0.880594,0.709784,0.915060,0.808061,0.929295,0.616327,0.772811,...,0.527430,0.718294,0.847610,0.857503,0.291835,0.512586,0.938144,0.454395,0.881910,0.628440
96,96,0.256702,0.557508,0.885226,0.713341,0.915852,0.803735,0.932403,0.620068,0.776235,...,0.519763,0.715147,0.849162,0.857652,0.293228,0.516055,0.934618,0.456597,0.887653,0.603211
97,97,0.256400,0.546241,0.870445,0.712754,0.915763,0.816412,0.922399,0.607997,0.765198,...,0.520147,0.711120,0.837368,0.850408,0.294212,0.522936,0.940764,0.432927,0.866475,0.651376
98,98,0.256107,0.553188,0.876235,0.711518,0.915852,0.814666,0.926267,0.614961,0.770614,...,0.521820,0.712932,0.840161,0.852321,0.295436,0.520270,0.939946,0.438378,0.870783,0.644495
99,99,0.258438,0.562117,0.887133,0.711802,0.914910,0.804838,0.933600,0.624007,0.778804,...,0.525577,0.719370,0.853197,0.860715,0.290928,0.511468,0.934611,0.467023,0.892678,0.600917

In [ ]:
import pandas as pd
LSTM_train1 = pd.read_csv("/content/drive/Shareddrives/Trustworthiness/MIMIC III/training_log/Train_Original_LSTM_Run1.csv", sep=';')
LSTM_train1[['epoch', 'val_loss', 'val_auprc', 'val_bal_acc', 'val_f1_c1']]

    epoch  val_loss  val_auprc  val_bal_acc  val_f1_c1
0       0  0.308618   0.478148     0.733897   0.478723
1       1  0.304170   0.487930     0.742761   0.499079
2       2  0.301092   0.510754     0.742980   0.502804
3       3  0.299862   0.524955     0.751102   0.474922
4       4  0.295879   0.525287     0.742472   0.496804
..    ...       ...        ...          ...        ...
95     95  0.291835   0.542781     0.755175   0.527430
96     96  0.293228   0.539181     0.745432   0.519763
97     97  0.294212   0.540840     0.758926   0.520147
98     98  0.295436   0.538345     0.757639   0.521820
99     99  0.290928   0.543233     0.746798   0.525577

[100 rows x 5 columns]

In [ ]:
import pandas as pd
LSTM_train2 = pd.read_csv("/content/drive/Shareddrives/Trustworthiness/MIMIC III/training_log/Train_Original_LSTM_Run2.csv", sep=';')
LSTM_train2[['epoch', 'val_loss', 'val_auprc', 'val_bal_acc', 'val_f1_c1']]

    epoch  val_loss  val_auprc  val_bal_acc  val_f1_c1
0       0  0.309920   0.470501     0.739877   0.512922
1       1  0.304734   0.489059     0.746281   0.509915
2       2  0.301686   0.510568     0.742390   0.520161
3       3  0.294996   0.524244     0.751157   0.518027
4       4  0.293166   0.527929     0.748544   0.517806
..    ...       ...        ...          ...        ...
95     95  0.286107   0.553091     0.743129   0.508118
96     96  0.288992   0.554253     0.749970   0.513109
97     97  0.290862   0.554262     0.736765   0.514811
98     98  0.294098   0.544823     0.743169   0.511628
99     99  0.290861   0.545505     0.730822   0.512067

[100 rows x 5 columns]

In [ ]:
import pandas as pd
LSTM_train3 = pd.read_csv("/content/drive/Shareddrives/Trustworthiness/MIMIC III/training_log/Train_Original_LSTM_Run3.csv", sep=';')
LSTM_train3[['epoch', 'val_loss', 'val_auprc', 'val_bal_acc', 'val_f1_c1']]

    epoch  val_loss  val_auprc  val_bal_acc  val_f1_c1
0       0  0.315405   0.446788     0.718618   0.477963
1       1  0.305441   0.477612     0.740157   0.506770
2       2  0.301098   0.498012     0.746271   0.501825
3       3  0.302116   0.510024     0.735689   0.511675
4       4  0.297433   0.505606     0.737115   0.506903
..    ...       ...        ...          ...        ...
95     95  0.297743   0.545510     0.735260   0.512245
96     96  0.293628   0.546937     0.752014   0.516917
97     97  0.295092   0.551000     0.755205   0.522149
98     98  0.297227   0.549664     0.751984   0.522073
99     99  0.289236   0.550821     0.755105   0.529070

[100 rows x 5 columns]

In [ ]:
import pandas as pd
LSTM_train3 = pd.read_csv("/content/drive/Shareddrives/Trustworthiness/MIMIC III/training_log/Train_Original_LSTM_Run4.csv", sep=';')
LSTM_train3[['epoch', 'val_loss', 'val_auprc', 'val_bal_acc', 'val_f1_c1']]

    epoch  val_loss  val_auprc  val_bal_acc  val_f1_c1
0       0  0.313652   0.453584     0.728221   0.489362
1       1  0.305203   0.477056     0.743728   0.500000
2       2  0.304424   0.503162     0.733365   0.514048
3       3  0.301019   0.511463     0.748264   0.524233
4       4  0.306924   0.508197     0.710018   0.501160
..    ...       ...        ...          ...        ...
95     95  0.303835   0.539403     0.735308   0.525862
96     96  0.294142   0.541612     0.748793   0.516746
97     97  0.291331   0.549044     0.741562   0.515936
98     98  0.299565   0.548144     0.723700   0.513274
99     99  0.292014   0.546531     0.742959   0.516320

[100 rows x 5 columns]

In [ ]:
import pandas as pd
LSTM_train3 = pd.read_csv("/content/drive/Shareddrives/Trustworthiness/MIMIC III/training_log/Train_Original_LSTM_Run5.csv", sep=';')
LSTM_train3[['epoch', 'val_loss', 'val_auprc', 'val_bal_acc', 'val_f1_c1']]

    epoch  val_loss  val_auprc  val_bal_acc  val_f1_c1
0       0  0.311032   0.467956     0.728461   0.480966
1       1  0.303618   0.499850     0.741036   0.493200
2       2  0.300334   0.510497     0.745572   0.516569
3       3  0.297812   0.511868     0.752675   0.499565
4       4  0.304090   0.524598     0.733623   0.522581
..    ...       ...        ...          ...        ...
95     95  0.293207   0.552576     0.730222   0.521930
96     96  0.294564   0.557074     0.723490   0.518686
97     97  0.296835   0.551314     0.756002   0.531646
98     98  0.291163   0.563725     0.740504   0.532051
99     99  0.288925   0.562738     0.739457   0.522822

[100 rows x 5 columns]

# Channel Wise LSTM

### Best Train 1 model -> Epoch 37
### Best Train 2 model -> Epoch 24
### Best Train 3 model -> Epoch 17
### Best Train 4 model -> Epoch 18
### Best Train 5 model -> Epoch 20

In [ ]:
import pandas as pd
CW_LSTM_train1 = pd.read_csv("/content/drive/Shareddrives/Trustworthiness/MIMIC III/training_log/Train_Original_CW_LSTM_Run1.csv", sep=';')
CW_LSTM_train1[['epoch', 'val_loss', 'val_auprc', 'val_bal_acc', 'val_f1_c1']]

    epoch  val_loss  val_auprc  val_bal_acc  val_f1_c1
0       0  0.312555   0.480605     0.721033   0.464446
1       1  0.302705   0.509645     0.747029   0.506964
2       2  0.296441   0.519564     0.748784   0.508318
3       3  0.328480   0.518882     0.684338   0.476804
4       4  0.289408   0.539565     0.740784   0.524896
..    ...       ...        ...          ...        ...
95     95  0.303597   0.519729     0.733784   0.504487
96     96  0.316507   0.518203     0.729106   0.514469
97     97  0.325613   0.511667     0.729307   0.500505
98     98  0.332313   0.503043     0.724750   0.489594
99     99  0.326570   0.504191     0.730134   0.504597

[100 rows x 5 columns]

In [ ]:
import pandas as pd
CW_LSTM_train2 = pd.read_csv("/content/drive/Shareddrives/Trustworthiness/MIMIC III/training_log/Train_Original_CW_LSTM_Run2.csv", sep=';')
CW_LSTM_train2[['epoch', 'val_loss', 'val_auprc', 'val_bal_acc', 'val_f1_c1']]

    epoch  val_loss  val_auprc  val_bal_acc  val_f1_c1
0       0  0.308570   0.469715     0.716005   0.477137
1       1  0.309606   0.490925     0.738971   0.501908
2       2  0.306925   0.499707     0.741894   0.492363
3       3  0.296013   0.515949     0.734222   0.512873
4       4  0.293413   0.521184     0.745392   0.516066
..    ...       ...        ...          ...        ...
95     95  0.312639   0.514916     0.718815   0.494715
96     96  0.311748   0.526589     0.728300   0.496016
97     97  0.301161   0.529182     0.745064   0.509990
98     98  0.311259   0.521661     0.729626   0.498008
99     99  0.314640   0.513267     0.726256   0.492063

[100 rows x 5 columns]

In [ ]:
import pandas as pd
CW_LSTM_train3 = pd.read_csv("/content/drive/Shareddrives/Trustworthiness/MIMIC III/training_log/Train_Original_CW_LSTM_Run3.csv", sep=';')
CW_LSTM_train3[['epoch', 'val_loss', 'val_auprc', 'val_bal_acc', 'val_f1_c1']]

    epoch  val_loss  val_auprc  val_bal_acc  val_f1_c1
0       0  0.305798   0.483108     0.731801   0.490961
1       1  0.294467   0.516004     0.744574   0.520958
2       2  0.295030   0.537898     0.737912   0.516327
3       3  0.287672   0.548958     0.746378   0.536126
4       4  0.300027   0.538645     0.723950   0.512088
..    ...       ...        ...          ...        ...
95     95  0.303165   0.551843     0.736498   0.498567
96     96  0.302869   0.547527     0.737943   0.510978
97     97  0.308896   0.544707     0.747445   0.529412
98     98  0.298903   0.535368     0.751875   0.520000
99     99  0.302121   0.531544     0.738302   0.512000

[100 rows x 5 columns]

In [ ]:
import pandas as pd
CW_LSTM_train4 = pd.read_csv("/content/drive/Shareddrives/Trustworthiness/MIMIC III/training_log/Train_Original_CW_LSTM_Run4.csv", sep=';')
CW_LSTM_train4[['epoch', 'val_loss', 'val_auprc', 'val_bal_acc', 'val_f1_c1']]

    epoch  val_loss  val_auprc  val_bal_acc  val_f1_c1
0       0  0.307085   0.491304     0.747440   0.491349
1       1  0.304409   0.511951     0.749006   0.485404
2       2  0.299227   0.507175     0.747829   0.488095
3       3  0.292697   0.526223     0.740857   0.492754
4       4  0.288796   0.539973     0.767404   0.515907
..    ...       ...        ...          ...        ...
95     95  0.312282   0.504261     0.732869   0.486137
96     96  0.324710   0.514732     0.723813   0.483965
97     97  0.320220   0.505132     0.722706   0.485686
98     98  0.314933   0.513924     0.728540   0.487106
99     99  0.313170   0.512955     0.715865   0.479839

[100 rows x 5 columns]

In [ ]:
import pandas as pd
CW_LSTM_train5 = pd.read_csv("/content/drive/Shareddrives/Trustworthiness/MIMIC III/training_log/Train_Original_CW_LSTM_Run5.csv", sep=';')
CW_LSTM_train5[['epoch', 'val_loss', 'val_auprc', 'val_bal_acc', 'val_f1_c1']]

    epoch  val_loss  val_auprc  val_bal_acc  val_f1_c1
0       0  0.307476   0.488172     0.701981   0.479821
1       1  0.300285   0.513804     0.748377   0.496479
2       2  0.297804   0.511574     0.724580   0.497431
3       3  0.290155   0.537060     0.745791   0.520792
4       4  0.295566   0.525690     0.729136   0.508901
..    ...       ...        ...          ...        ...
95     95  0.314853   0.520665     0.722307   0.481553
96     96  0.310127   0.521583     0.720552   0.480000
97     97  0.325092   0.519455     0.708394   0.486784
98     98  0.321886   0.523978     0.715125   0.490928
99     99  0.308746   0.512620     0.713681   0.478615

[100 rows x 5 columns]